@font-face {
    font-family: 'dana-yad';
    src:
        url(fontim/dana-yad/400/DanaYadAlefAlefAlef-Normal.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'carmela';
    src:
        url(fontim/carmela/400/carmela.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    line-height: 1.5;
    background: #fff;
    font-size: 20px;
    font-family: 'carmela', sans-serif;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}
h1 {
    color: #fff;
    font-family: 'dana-yad';
    font-size: 30px;
    margin: auto;
}
h2 {
    color: #d50a51;
    font-family: 'dana-yad';
    font-size: 40px;
    text-align: center;
}

h3 {
    color: #d50a51;
    font-family: 'dana-yad';
    font-size: 28px;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('tmonot/%D7%AA%D7%9E%D7%95%D7%A0%D7%94.jpg');
    background-position: center 40%;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.button {
    color: #fff;
    text-decoration: none;
    border: 3px solid #d50a51;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 20px;
    transition: .3s;
    border-radius: 30px;
    margin-bottom: auto;
    font-family: 'dana-yad';
    background: #d50a51;
}

.button:hover {
    background: #fff;
    color: #d50a51;
    font-family: 'dana-yad';
    text-align: center;
    margin: auto;
}

.button1 {
    color: #fff;
    border: 3px solid #d50a51;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 20px;
    transition: .3s;
    border-radius: 30px;
    margin-bottom: auto;
    font-family: 'dana-yad';
    background: #d50a51;
}

.button1:hover {
    background: #fff;
    color: #d50a51;
    font-family: 'dana-yad';
}

.logo {
    max-width: 200px;
    display: block;
    margin: 5px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 100px;
    line-height: 1.1;
    padding: 50px;
}

.div1 {
    color: #000;
}

.features {
    background: #fff;
    text-align: center;
  
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 20;
}

.features img {
    max-width: 100px;
}

.footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('tmonot/reka3.jpg');
    background-position: center 40%;
    background-size: cover;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.button2 {
    display: inline-block;
    margin-top: 20px;
    font font-size: 15;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

header {
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;

}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-family: 'carmela';
    font-size: 15px;

}

.menu.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('tmonot /basisslemala');
}

.price-list {
    list-style: none;
    padding: 0;
    font-size: 24px;
}

.price-list li {
    display: flex;
    margin-bottom: 10px;
}

.line {
    flex: 1;
    border-bottom: 2px solid #d50a51;
    height: 1em;
    margin: 0 5px;
}

.price {}

.price-list.container {
    color: #000;
}
.price-list .title{
color: black;
}
.title{
text-align: right;
color: #794949;
}
textarea{
height: 220px;
   
}

}
.features1 {
    background: #fff;
    text-align: center;
}

.features1 ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 0;
    color: #000;
    line-height: 0.5;
   text-align: center;

}

.features1 img {
    max-width: 100px;
}

label {
    margin-bottom: 20px;
    text-align: right;
}

form {
    width: 350px;
    margin: auto;
    line-height: 2;
    text-align: right;
}
input,textarea {
    font: inherit;
    color: inherit;
    display: block;
    border: 2px solid #000; 
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.input,textarea :hover{
text-align: center;
border: 2px solid #d50a51; 
}
input:focus,
textarea:focus{
    outline: 0;
    border-color: #d50a51; 
}
.banner{
border-bottom: 1px solid #fff;
}
.banner: hover{
text-decoration: none;
}
.current{
border-bottom: 1px solid #fff;
}
.span{
text-align: right;
}
input.button{
    
}
.textarea{
    padding: 20px;
}